VmInclude:/modules/layout/top-right-corner.html
VmInclude:/modules/layout/header.html
VmInclude:/modules/layout/content-container.html
VmInclude:/modules/layout/footer.html
<script main-layout-js-code>
	function F__ID(){
		//------------------------------------
		window.onmessage=function(e){
		    if(e.data.username!=undefined && e.data.user_id!=undefined){
		        $vm.user=e.data.username;
		        $vm.user_id=e.data.user_id;
		        $VmAPI.set_token(e.data.token,e.data.api_url,e.data.username,e.data.user_id,e.data.nickname);
		        location.reload(true);
		    }
		};
		//-----------------------------------------
		var show_top_right_corner=function(){
			if($vm.server=='development') $('#database_d__ID').show();
			else if($vm.server=='production') $('#database_p__ID').show();
		}
		show_top_right_corner();
		//========================================
		//load first module
		var name='home';
		var url=$vm.app_config.modules[name].url;
		url+='?_v='+$vm.version+$vm.reload;
		url=$vm.url(url);
		if(url[0]=='/') url=$vm.hosting_path+url;
		//---------------------------
		var module="L_0_"+name;
		$vm.module_list[module]={url:url,var:{},}
		//---------------------------
		$vm.load_module_by_name(module,$vm.root_layout_content_slot,{
			name:name,
			mobj:$vm.vm['__ID'],
			record:{UID:0},
			sys:{UID:0,}
		})
		//========================================
		var $image1 = $("<img>");
		$image1.on('load',(function(){ $('body').css("background", "url("+$(this).attr("src")+") no-repeat bottom center"); $('body').css("background-size", "cover");  }));
		$image1.attr("src", "__HOST__/images/background.jpg");
		//========================================
	}
</script>
<style main-layout-css>
	@keyframes vm_module_fadein {
		from { opacity:0; }
		to {opacity:1;}
	}
</style>
